@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
/* Google Translate Feintuning */
.goog-te-gadget {
  font-size: 0; /* Text im Original-Widget ausblenden, wir nutzen eigenes UI */
}
